.top_header {
  background-color: #25ac65;
  padding: 8px 0px;
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  transition: all 0.5s linear;
  background-color: #fff;
  /* padding: 30px 0px !important; */
  margin-top: 0px !important;
}
.sticky #mynav ul li a {
  padding: 5px 0px !important;
  transition: all 0.3s linear;
  margin-right: 38px !important;
}
.sticky #mynav ul {
  margin-left: auto !important;
}
.sticky .navbar .home_nav_op_logo {
  display: block;
}
.sticky .navbar .home_nav_op_logo img {
  height: 70px;
  width: 100px;
}
.sticky .home_nav_op_logo span {
  visibility: hidden !important;
}
.mobile_hotline_num {
  display: none;
}
.top_header_left p {
  font-size: 16px;
  color: #fff;
}
.top_header_right a {
  font-size: 16px;
  color: #fff;
  padding-right: 5px;
  border-right: 1px solid #fff;
}
.top_header_right a:last-child {
  border-right: none !important;
}
.logo_home_title h5 {
  font-size: 40px !important;
  text-transform: uppercase;
  font-weight: 700;
  color: #000 !important;
}

.logo_service_hotline p {
  font-size: 16px;
  color: #484848;
  text-transform: uppercase;
  font-weight: 600;
}
.logo_service_hotline h2 {
  font-size: 30px;
  font-weight: 700;
  color: tomato;
}
.logo_services {
  padding: 15px 0px;
}

.home_nav_op_logo {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  display: none;
}
.nav_home {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.home_custom_nav li {
  text-align: center;
}
.home_custom_nav li a {
  padding-top: 0px !important;
  letter-spacing: 1px;
  text-align: center;
  font-size: 16px;
  /* padding-right: 50px !important;
  padding-bottom: 8px !important; */
  margin-right: 95px;
  color: #484848;
  position: relative;
  overflow: hidden;
  transition: all 0.3s linear;
}
.home_custom_nav li a::after {
  position: absolute;
  content: '';
  left: -100%;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: tomato;
  transition: all 0.3s linear;
}
.home_custom_nav li a:hover {
  color: tomato;
  text-align: center !important;
}
.home_custom_nav li a:hover::after {
  left: 0;
}
.home_custom_nav li a.home_active {
  color: tomato !important;
  position: relative;
  overflow: hidden;
}
.home_custom_nav li a.home_active::after {
  position: absolute;
  content: '';
  left: 0 !important;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: tomato;
  transition: all 0.3s linear;
}
.nav_home {
  margin-top: -15px;
}
.slider .slider_image {
  height: 55vh;
  width: 100%;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important ;
}
.prev_arrow {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  height: 40px;
  width: 50px;
  line-height: 40px;
  border-radius: 2px;
  text-align: center;
  background-color: #25ac65;
  cursor: pointer;
  color: #fff;
}

.next_arrow {
  position: absolute;
  z-index: 99;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  height: 40px;
  width: 50px;
  line-height: 40px;
  border-radius: 2px;
  text-align: center;
  background-color: #25ac65;
  cursor: pointer;
  color: #fff;
}

.provide_section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.provide_cart_img {
  height: 160px;
  width: 150px;
  padding-bottom: 30px;
  overflow: hidden;
  margin: auto;
  transform: rotate(45deg);
}
.provide_cart_img img {
  height: 100%;
  width: 100%;
  transform: rotate(270deg);
}
.provide_cart_description {
  padding-top: 30px;
  text-align: center;
}
.provide_cart_description a {
  font-size: 16px;
  color: #484848;
  padding: 10px 2px;
}
.provide_body {
  padding: 15px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 30px #2b56f524;
  -moz-box-shadow: 0px 10px 30px #2b56f524;
  box-shadow: 0px 10px 30px #2b56f524;
}
.home_heading {
  padding-bottom: 50px;
  text-align: center;
}
.home_heading h2 {
  text-transform: uppercase;
  font-size: 40px;
  color: #484848;
  font-weight: 400;
  position: relative;
}
.home_heading h2::after {
  position: absolute;
  content: '';
  left: 50%;
  height: 3px;
  width: 100px;
  transform: translateX(-50%);
  top: -25px;
  background-color: #25ac65;
}
.home_heading p {
  padding-top: 10px;
  font-size: 16px;
  color: #484848;
}
.home_about_section {
  padding-bottom: 100px;
}
.home_about_bg {
  height: 75vh;
  width: 100%;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  position: relative;
}
.home_about_bg::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.home_about_container {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home_about_content {
  text-align: center;
}
.home_about_content h2 {
  font-size: 40px !important;
  color: #fff !important;
  text-transform: uppercase;
}
.home_about_content p {
  font-size: 16px;
  color: #fff;
  line-height: 30px;
  padding-top: 25px;
}

.home_about_btn {
  margin-top: 25px !important;
  height: 100%;
  width: 180px;
  margin: auto;
}
.home_about_btn a {
  display: block;
  text-align: center;
  padding: 15px 40px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #25ac65;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s linear;
}
.home_about_btn a:hover {
  letter-spacing: 2px;
  color: #fff;
}
.home_featured_img {
  height: 350px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.home_featured_img img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.home_featured_product_model {
  height: 50px;
  line-height: 50px;
}
.home_featured_product_model p {
  font-size: 18px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #484848;
}
.home_featured_product_body {
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 30px #2b56f524;
  -moz-box-shadow: 0px 10px 30px #2b56f524;
  box-shadow: 0px 10px 30px #2b56f524;
}
.home_featured_product {
  padding-bottom: 100px;
}
.feature_prev_arrow {
  position: absolute;
  right: 10%;
  top: -30px;
  z-index: 20;
  display: block;
  height: 35px;
  width: 55px;
  line-height: 35px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #25ac65;
  cursor: pointer;
}
.feature_next_arrow {
  position: absolute;
  right: 2%;
  top: -30px;
  z-index: 20;
  display: block;
  height: 35px;
  width: 55px;
  line-height: 35px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid#25ac65;
  cursor: pointer;
}
.inquery_section {
  background-color: #25ac65;
  padding: 70px 0px;
}
.inquery_content h2 {
  font-size: 40px !important;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.inquiry_btn {
  margin: auto;
  text-align: center;
  margin-top: 25px;
}
.inquiry_btn a {
  display: block;
  text-transform: capitalize;
  /* padding: 10px 40px; */
  height: 50px;
  line-height: 45px;
  width: 190px;
  margin: auto;
  color: #fff;
  font-size: 14px;
  border: 2px solid #fff;
  transition: all 0.3s linear;
  border-radius: 4px;
}
.inquiry_btn a:hover {
  color: #fff;
  border: transparent;
}
.home_news_section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.home_news_img {
  height: 245px;
  width: 100%;
  overflow: hidden;
}
.home_news_img img {
  height: 100%;
  width: 100%;
}
.home_news_title {
  /* padding: 28px; */
}
.home_news_title h2 {
  text-transform: uppercase;
  font-size: 18px;
  padding: 28px 0px;
  position: relative;
  color: #484848;
}
.home_news_title h2::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 70px;
  background: #25ac65;
}
.home_news_date {
  padding-top: 28px;
}
.home_news_date a {
  font-size: 18px;
  color: #484848;
}
.news_prev_arrow {
  position: absolute;
  right: 10%;
  top: -50px;
  z-index: 20;
  display: block;
  height: 35px;
  width: 55px;
  line-height: 35px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #25ac65;
  cursor: pointer;
}
.news_next_arrow {
  position: absolute;
  right: 2%;
  top: -50px;
  z-index: 20;
  display: block;
  height: 35px;
  width: 55px;
  line-height: 35px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #25ac65;
  cursor: pointer;
}
.navbar-toggler-icon {
  color: #000 !important;
  background-color: #25ac65 !important;
}
@media (max-width: 576px) {
  .home_about_bg {
    height: 100vh !important;
  }
  .home_about_content p {
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    padding-top: 15px;
  }
  .home_about_content h2 {
    font-size: 20px !important;
    color: #fff !important;
    text-transform: uppercase;
  }
  .home_about_btn a {
    padding: 11px 30px;
    font-size: 14px;
    border-radius: 4px;
  }
  .home_heading h2 {
    text-transform: uppercase;
    font-size: 21px;
    color: #484848;
    font-weight: 400;
    position: relative;
  }
  .home_heading p {
    padding-top: 10px;
    font-size: 11px;
    color: #484848;
  }
  .feature_prev_arrow {
    position: absolute;
    right: 32%;
  }
  .feature_next_arrow {
    position: absolute;
    right: 9%;
  }
  .inquery_content h2 {
    font-size: 20px !important;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
  .top_header {
    display: none;
  }
  .home_nav_op_logo {
    display: block;
  }
  .home_nav_op_logo img {
    height: 45px;
    width: 70px;
  }
  .home_nav_op_logo span {
    color: #484848 !important;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .sticky .home_nav_op_logo img {
    height: 45px !important;
    width: 70px !important;
  }
  .sticky .home_nav_op_logo span {
    visibility: visible !important;
  }
  .logo_home {
    display: none;
  }
  .logo_home_title {
    display: none;
  }
  .navbar .navbar-toggler {
    color: #484848 !important;
  }
  .pc_hotline_num {
    display: block;
  }
  .nav_home {
    margin-top: 0px;
    /*! padding: -13px 0px; */
  }
  .home_custom_nav li {
    text-align: center;
    padding: 0px 100px;
  }
  .logo_service_hotline {
    text-align: center;
  }
  .logo_service_hotline p span {
    display: block;
  }
  .logo_service_hotline {
    text-align: center;
  }
  .logo_services {
    display: none;
  }
  .news_prev_arrow {
    position: absolute;
    right: 30%;
  }
  .news_next_arrow {
    position: absolute;
    right: 5%;
  }
}
