.team_main {
  background: #fff;
  border-radius: 10px;
  position: relative;
  transition: all 0.5s linear;
  -webkit-box-shadow: 0px 10px 30px #2b56f524;
  -moz-box-shadow: 0px 10px 30px #2b56f524;
  box-shadow: 0px 10px 30px #2b56f524;
}
.team_img {
  height: 260px !important;
  width: 100% !important;
  padding: 10px 5px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
.team_img::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background: rgba(0, 0, 0, 0.56) !important;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s linear;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.team_img img {
  height: 100%;
  width: 100%;
  transition: all 0.3s linear;
}
.team_main:hover .team_img::after {
  visibility: visible;
  opacity: 1;
  height: 100%;
}
.team_main:hover .team_img img {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.team_main:hover {
  z-index: 2;
  border-radius: 10px 10px 0px 0px !important;
}
.team_main:hover .team_info {
  z-index: -1;
}
.team_overlay {
  position: absolute;
  top: 150% !important;
  left: 0;
  /* bottom: 10px; */
  height: 0%;
  background: #fff !important;
  content: '';
  z-index: 99;
  border-radius: 10px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  text-align: justify;
}
.team_overlay p {
  font-size: 12px;
  color: #484848;
  padding: 25px 15px;
}
.team_main:hover .team_overlay {
  visibility: visible;
  top: 100% !important;
  opacity: 1;
  height: 100%;
  border-radius: 0px 0px 10px 10px !important;
  -webkit-box-shadow: 0px 10px 30px #2b56f524;
  -moz-box-shadow: 0px 10px 30px #2b56f524;
  box-shadow: 0px 10px 30px #2b56f524;
}
.team_main:hover {
  transform: translateY(-15px) scale(1.05);
}

/* =================================================== */
